.cell{
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.begin-cell{
  background-color: limegreen;
  cursor: grab;
}
.target-cell{
  background-color: indianred;
  cursor: grab;
}
.wall-cell{
  background-color: gray;
}
